body {
    padding-top: 5rem;
	background-color: rgb(240, 240, 240);
}
label{
	font-weight: 600;
	margin-top: 10px;
}

/*Home */

.main{
	padding: 100px;
}
.main p{
	color: rgb(61, 61, 61);
	padding: 0 0 20px;
	width: 390px;
    text-align: left;
}

.main h2{
	width: 200px;
	padding: 0 0 20px;
	color: rgb(0, 0, 0);
	text-align: left;
	font-weight: 700;

}

#login_btn{
    min-width:90px;
	width: 130px;
	background-color: #0fb881;
	border-style: none;
	
}

#reg_btn{
    min-width:90px;
    align-self: center;
	margin-right: 0.5em;
	width: 130px;
	background-color: #3b82f6;
	border-style: none;
}

.home-page{
	display: flex;

}


.home-img{
	max-width: 1200px;
	overflow: hidden;
}

footer{
    padding-top: 20px;
}

/*Login*/

.login-container{
	display: flex;
    align-items: center;
    flex-direction: column;
	padding: 100px;

}

.login-container h2{
	margin-left: 160px;
}

.logincard{
    border: 2px solid ;
    border-color: #E2E8F0;
	background-color: white;
    border-radius: 5px;
    width: 500px;
    padding: 30px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 2px 2px #b6b6b6;

}

.logincard button{
	background-color: #18b683;
	border: none;
	padding: 7px 50px 7px 50px;
	margin-top: 30px;
	width: 100%;
}

/*Register*/

.registerform{
    border: 2px solid ;
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #b6b6b6;
    width: auto;
    padding: 20px;
	background-color: white;
}

.row{
	padding: 0px 15px 0px 15px;
}

.new_user{
    display: flex;
    align-items: center;
    flex-direction: column;
	
}

.new_user label{
	font-weight: 600;
	margin-top: 10px;
}

.new_user input, textarea{
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0.5px 2px rgb(235, 235, 235);
}

input{
	padding: 5px 0px 5px 8px;
}


select{
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0.5px 2px rgb(235, 235, 235);
	padding: 6px 0px 6px 6px ;
	width: 178px;
	
}

.new_user #addcar2{
	margin-right: 226px;
}

.new_user button{
	background-color: #0fb881;
	border: none;
	padding: 7px 50px 7px 50px;
	margin-top: 20px;
}

.bio{
	width: 100%;
}


#browse1, #browse2{
	border: none;
	box-shadow: none;
	background-color: white;
	color: black;
	outline: none;
}

h2{
	font-weight: 700;
	margin-right: 160px;
	margin-bottom: 20px;
}

.new_user h2{
	margin-left: 25px;
}

.column1{
	margin-right: 30px
}

/*Explore Page*/
.cars{
	display: flex;
	align-items: center;
	flex-direction: column;

	
}

.explore-card label{
	color: rgb(65, 64, 64);
	font-weight: bold;

}

.cars h2{
	margin-right:580px;
}

.explore-card{
	border: 2px solid ;
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #b6b6b6;
    width: 700px;
	padding: 20px 40px 40px 30px;
	margin-bottom: 50px;
	background-color: white;
	
	
}


.explore-card button{
	background-color: #0fb881;
	border: none;
	padding: 7.5px 50px 7.5px 50px;
	margin-top: 42px;
	border-radius: 5px;
	color: white;
  
}

.cars li{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    list-style-type: none;
    text-align: left;
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: #ffffff;
    border-top-color: aquamarine;
    box-shadow: 0 4px 4px rgba(34, 34, 34, 0.2);
    overflow: hidden;
}

.cars img{
    width: 280px;
    height: auto;
}

.head1 h5{
    font-weight: 600;
    font-size: larger;
    margin-bottom: 10px;

}

h5{
	margin-right: 0.5em;
}

.head1{
	display:flex;
}

.price{

	padding:2px;
	background-color:#18b683;
	border-radius: 10px;
	color: white;
	display: flex;
	justify-content: space-between;
}


.car-container{
	background-color: white;
}
   

.top{
   justify-content: space-between;
    display: flex;
}


.cars .desc{
    font-size: smaller;
}

#bluebtn{
	width:100%;
	font-weight: bold;
	font-size: smaller;
	background-color:#3b82f6;
	border: none;
	padding: 7.5px 50px 7.5px 50px;
	border-radius: 5px;
	color: white;
}


.class-group{
	flex-direction: row;
	display: flex;
	
}

.car__list{
	margin-left: 150px;
}
.cars__item{
	list-style-type: none;
	display: inline-block;
	width: 270px;
	padding-left: 50px;
}

#price-tag{
	width: 15px;
	height:15px;
}


/*Add Car
.addcard {
	display: flex;
	flex-direction: column;
}*/
.form-groupcar label{
	color: rgb(65, 64, 64);
	font-weight: bold;
}

.addcard h2{
	font-weight: bold;
	padding-bottom: 20px;
}
.form-groupcar{
	border: 2px solid ;
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 5px 7px 5px #dee1e4;
    width: 700px;
	padding: 10px 20px;
	margin-bottom: 50px;
}

.addcard btn{
	border-radius: 5px;
    padding: 20px 195px;
    text-decoration: none;
    text-align: center;
    margin: auto auto auto auto;
    color: white;
    text-transform: uppercase;
	align-self: center;
	display: flex;
	justify-content: center;
	padding-top: 5px;
}

.form-groupcar .row{
	
}

.user-profile{
	display: flex;
	flex-direction: row;
	border: 2px solid ;
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #b6b6b6;
    width: 700px;
    padding: 20px 40px 40px 30px;
    margin-bottom: 50px;
    background-color: white;

}

.flex-row{
	display: flex;
    align-items: center;
    flex-direction: column;
}

.column2{
	padding-top: 23px;
	padding-left: 50px;
}

.details{
	display: flex;
	flex-direction: column;
}